<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>rateit.servlets.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>rateit.servlets.LogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forgot</servlet-name>
        <servlet-class>rateit.servlets.Forgot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register_company</servlet-name>
        <servlet-class>rateit.servlets.Register_company</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_user_profile</servlet-name>
        <servlet-class>rateit.servlets.Update_user_profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>rateit.servlets.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Company_Login</servlet-name>
        <servlet-class>rateit.servlets.Company_Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/LogIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forgot</servlet-name>
        <url-pattern>/Forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register_company</servlet-name>
        <url-pattern>/Register_company</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_user_profile</servlet-name>
        <url-pattern>/Update_user_profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Company_Login</servlet-name>
        <url-pattern>/Company_Login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
        30
    </session-timeout>
    </session-config>
</web-app>
